<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.forum.mapper.CollectionMapper">

	<insert id="addCollection"
		parameterType="com.forum.entity.Collection"
		useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO collection (
			uid,article_id,
			created_user, created_time,
			modified_user, modified_time
		) VALUES (
			#{uid},#{articleId},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>
	
	
	<select id="selCollection"
		resultType="java.lang.Integer">
		SELECT 
			count(*)
		FROM 
			collection
		WHERE 
			uid=#{uid}
			AND
			article_id=#{articleId}
	</select>
	
	
	<delete id="delCollection">
		DELETE FROM
			collection
		WHERE
			uid=#{uid}
			AND
			article_id=#{articleId}
	</delete>
	
	<select id="countCollection"
		resultType="java.lang.Integer">
		SELECT 
			count(*)
		FROM 
			collection
		WHERE 
			article_id=#{articleId}
	</select>
		
</mapper>





